<div class="row clearfix">
  <div class="col-sm-8 col-sm-offset-2 column">
    {{#if link}}
      <h3>Congrats!</h3>
      <div class="row">
        <div class="col-sm-6 column">
          Quick access link to statistics:
        </div>
        <div class="col-sm-6 column">
          <input value="{{link}}"/>
        </div>
      </div>
    {{else}}
    {{/if}}
  </div>
</div>
