<div class="row clearfix">
  <%= form_for :search, url: search_apps_quicks_path, remote: true, html: { :'data-type' => 'json', id: 'quicks_search_form' } do |f| %>
    <!-- Filters -->
    <div class="row">
      <div class="col-md-8 col-md-offset-2 column">
        <%= render partial: 'quicks/filters', object: f %>
      </div>
    </div>

    <!-- Search inputs group -->
    <div class='row'>
      <div class="input-group col-md-8 col-md-offset-2 column">
        <%= f.search_field :query, placeholder: 'Search for...', class: 'form-control' %>
        <span class="input-group-btn">
          <%= f.submit 'Search', class: 'btn btn-primary' , data: {'disable-with' => 'Loading...'} %>
        </span>
      </div>
    </div>

    <!-- Search results -->
    <div class='row' id="quickContent"></div>

    <span class='col-md-8 col-md-offset-2 column btn btn-success' id="actionCreateQuickLink">Add Selected</span>
  <% end %>
</div>
