// Place all the styles related to the Quick controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#quicks_search_form {
  .panel {
    margin-bottom: 5px;
  }

  .panel-heading {
    padding: 5px 15px;
  }

  .panel-body {
    padding: 5px 15px;
  }

  .checkbox {
    margin: 0;
  }

  .input-group {
    padding: 0 15px;
  }
}

#quickContent {
  margin-top: 10px;

  .row[data-id] {
    margin-bottom: 8px;
  }
}
